
@model List<Microsoft.Teams.Apps.FAQPlusPlus.Common.Models.QandAResponse>


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>Q and A Responses</h1>
<body class="theme-default">
    
    <table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                Score
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            
        </tr>
}
    </tbody>
</table>
</body>
